nav {
    display: grid;
    grid-template-columns: 63% 1fr 10% ;
    min-height: 10vh;
    color: white;
    align-items: center;
}

header {

}

.hero {
    display: flex;
    flex-direction: column;
}

main {
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 20px;
    margin: 1vh 0 20px 0;
    z-index: 5;
   
}

.container {
    width: 90%;
    margin: 0 5% 0 5%;
}
.general {

    display: flex;
    flex-direction: column;
    align-items: start;
  
}

.general-info{
    padding: 0;
    text-align: start;
    width: 100%;
}

#placeholder1 {
    width: 100%;
}
#logo{
    grid-column: 1/2;
    justify-self: end;

}

.hamburger {
    justify-self: end;
    grid-column: 2/3;
}

.hero img {
    /*nach dem tut fuer eigenes masse nicht aendern*/
    
    position: absolute;
    left: -15%;
    top: -20%;
    object-fit: cover;
    width: 60vw;
    height: 80vw;

}

.pakete{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
    margin: 20vh 0 20vh;
  }

  .paket-item{
    width: 100%;
}

  footer {
      display: flex;
      flex-direction: column;
  }

  .contact {
    grid-row: 3/4;
    display: flex;
   flex-direction: column;
    
}

.tel{
    background-color: var(--main-color-green);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    
}

.contact-form {
    background-color: var(--main-color-dark);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    text-align: center;
}


.about-info {
    background-color: var(--main-color-dark);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    padding: 40px 5% 40px 5%;

}

