@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url("https://use.typekit.net/fzw6jac.css");

:root {
    --main-color-green: #16A085;
    --main-color-dark: #2C2C31;
    --main-color-white: #ffffff;
}
* {

 margin: 0 ;
 padding: 0;
 box-sizing: border;
 font-family: 'Montserrat', sans-serif;
 font-size: 20px;
 color: white;
/********/ 
 /*width: 100%;*/
 
}

body {
    display: grid;
    grid-template-rows: 100vh auto auto ;
    background: linear-gradient(to left,#223A44, #92A8AC);
    /*background: green;*/
}

header{
    grid-row: 1/2;
  
    overflow: hidden; /*wenn dies aufgehoben wird, verschwindet der elefant nicht mehr
   
    /*background: red;*/
   
}

main {
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 10% 1fr 10%; 
    align-items: start;
    padding: 20px;
    margin: 5vh 0 20px 0;
    z-index: 4;

    
    
   
   
}

h1 {
    font-size: 3em;
    font-weight: bold;
    font-family: futura-pt-bold,sans-serif;
}
.container {
    
    grid-column: 2/3;
}
.slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60vh;
    /*background: lightblue;*/
    background: linear-gradient(to left,#223A44, #92A8AC);
    z-index: -2;

}


nav {
    padding-top: 20px;
    /*display: grid;*/
    display: flex;
    /*grid-template-columns: 50% 1fr 1fr 10% ;*/
    min-height: 10vh;
    color: white;
    /*align-items: center;*/
    margin-top: 3vh;
    justify-content: space-around;
    position: fixed;
    
    
}

#logo{
    position: absolute;
    width: 200px;
    height: 100px;
    left: 45vw;

    /*grid-column: 1/2;*/
    
    /*justify-self: end;*/
    

}

.hamburger {
    /*justify-self: end;
    grid-column: 3/4;*/
    position: absolute;
    left: 90vw;
    
}

section {
    /*display: flex;*/
    height: 60vh;
    

}

.hero {
   
    z-index: -1;
    display: grid;
    grid-template-columns: 50% 50%;
    position: relative;
    top: 0;
    left: 0;
    background: linear-gradient(to left,#223A44, #92A8AC);
    /*background: red;*/
    /*height: 100%;*/
    width: 100%
}


.hero img {
    /*nach dem tut fuer eigenes masse nicht aendern*/
    grid-column-end: 1/2;
    object-fit: contain;
    position: absolute;
    z-index: 5;
    left: -15%;
    top: -30%;
   

}

.headline {

    grid-column: 2/3;
    color: var(--main-color-white);
    position: absolute;
    top: 20%;
    left: 10%;
    font-size: 100px;
    margin-right: 1vw;
    z-index: 3;
    font-family: futura-pt-bold,sans-serif;
    
}

 .hdr-big{
    font-size: 6vw;
    font-family: futura-pt-bold,sans-serif;

}
.hdr-small{
    font-size: 3.5vw;
    font-family: futura-pt-bold,sans-serif;
}

.hdr-green {
    color: var(--main-color-green);
}

#hero-button {
    position: absolute;
    top: 98%;
    right: -12%;
    display: flex;
    flex-direction: row;
    color: var(--main-color-dark);
    justify-content: start;
    align-items: center;
   text-align: start;
    box-sizing: border-box;
    
    background-color: var(--main-color-green);
    border: 5px solid transparent;
    padding: 80px;
    width: 58%;
    height: 10vh;
    z-index: 5;

}

.arrow {
    border: solid var(--main-color-dark);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 7px;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

  #arrow-button {
      display: inline-block;
      width: 80px;

  }

.general{
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
  
    top: -20%;

    
}

.general-info{
    width: 50%;
    grid-column: 1/2;
    justify-self: center;
    text-align: start;
    padding-left: 140px;;
    
  
}
 p{
    font-size: 1.5em;
    padding-top: 20px;
}



#placeholder1{
    grid-column: 2/3;
    justify-self: end;
   
    /*position: absolute;*/
    right: -30%;
}

.pakete{
    display: flex;
    flex-wrap: wrap;
    margin-top: 35px;
    justify-content: space-between;
    margin: 20vh 0 20vh;
  }
  
  .paket-item{
      width: 25%;
  }
  
  .paket-item .rectangle{
      width: 100%;
      margin-bottom: 25px;
  }

  .rectangle {
    height: 50vh;
    width: 20vw;
    background-color: var(--main-color-green);
  }

  .contact {
      grid-row: 3/4;
      display: grid;
      grid-template-columns: 33% auto;
      height: 70vh;
      
  }

 

  .tel{
      grid-column: 1/2;
      background-color: var(--main-color-green);
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      text-align: center;
      
  }

  .tel span {
    font-size: 2em;
  }

  .telephone {
      align-self: center;
      width: 100px;
      height: 100px;
  }

  .contact-form {
      grid-column: 2/3;
      background-color: var(--main-color-dark);
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-content: center;
      align-items: center;

  }

  form {
      color: white;
      font-size: 1.5em;
     

  }

  form input {
      color: var(--main-color-green);
     
  }

  .top-form, .bottom-form, .btn{
    min-height: 65px;
    margin: 10px 0;
  }


  .top-form {
      display: flex;
      flex-direction: row;
     
  }

  .bottom-form textarea {
      height: 250px;
      color: var(--main-color-green);
  }

  

form input[type="text"],
form textarea{
  padding: 50px 5px;
  margin-right: 30px;
  box-sizing: border-box ;
  background: none;
  border: none;
  /*width: 100%;*/
  border-bottom: 2px solid var(--main-color-green);
  outline: none;
  transition: all 0.3s ease;
  text-align: justify;
}

 .btn{
    background: var(--main-color-green);
    border: #16A085;
    width: 70%;
    padding: 10px 0;
    margin: 20px auto;
    text-align: center;
    cursor: pointer;
    color: var(--main-color-white);
  }


  ::-webkit-input-placeholder {
    font-family: 'Montserrat', sans-serif;
    color: white;
  }
  
  ::-moz-placeholder{
    color: white;
    font-family: Gill Sans Extrabold, sans-serif}


.about-info {
    background-color: var(--main-color-dark);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 5% 40px 5%;
}
/* after macht neues div hinterh -->  hero muss relative sein*/
/*.hero::after {
    content: "";
    background: black; 
    width: 100%;
    height: 100%;
    opacity: 0.3;
    position: absolute;
    left: 0;
    top: 0;

}*/

